#main-footer {
    background-color: #000;
    color: #fff;

    .footer-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 2rem;
        strong {
            color: #c20000;
            font-size: 1.8rem;
            display: block;
            padding-bottom: 15px;
            font-weight: 300;
            border-bottom: 1px solid #111;
            margin-bottom: 15px;
            text-align: center;
        }
        .links {
            text-align: center;
            border-right: 1px solid #111;
            border-left: 1px solid #111;
            padding: 15px 30px;
            font-size: 13px;
            font-weight: 300;
            color: #69685d;
            line-height: 30px;

            p {
                margin-bottom: 1rem;
            }
            &:last-child {
                border-top: 1px solid #111;
                grid-column: 1 / span 3;
                align-items: center;
                justify-content: center;
            }
        }
        .link {
            color: #69685d;
            display: inline-block;
            width: 48%;

            &:hover {
                color: #23527c;
                text-decoration: underline;
            }

            &:last-child {
                text-align: center;
            }
        }
        .social {
            .fa-brands {
                width: 20px;
                font-size: 2rem;
                margin-right: 0.5rem;

                &:hover {
                    opacity: 0.8;
                }
            }
        }
        .full {
            width: 100%;
            display: block;
        }
    }
}
